/* Empty file for template. Remember to edit only this file and not the HTML file */

/* boom */

body#css-zen-garden {
    background-color: rgba(199, 0, 0, 0.5);
}

div.page-wrapper {
    background-color: rgba(199, 126, 0, 0.5);
}

section.intro {
    background-color: rgba(199, 186, 0, 0.5);
}

div.main {
    background-color: rgba(99, 199, 0, 0.5);
}

div.participation {
    background-color: rgba(0, 199, 90, 0.5);
}

footer {
    background-color: rgba(0, 192, 199, 0.5);
}

aside.sidebar   {
    background-color: rgba(0, 113, 199, 0.5);
}

div.design-selection {
    background-color: rgba(172, 76, 240, 0.5);
}

div.zen-resources {
    background-color: rgba(96, 2, 79, 0.5);
}