/* Empty file for template. Remember to edit only this file and not the HTML file */

/* boom */

* {
    color: rgb(56, 39, 69);
    font-family: "LATO";
}

[class]:not(.page-wrapper, .main .supporting, .intro, .sidebar, .wrapper, .benefits #zen-supporting) {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: rgb(119, 71, 152);
    border-color: rgb(106, 74, 143);
    border-style: solid;
    border-radius: 10px;
    width: 800px;
    position: absolute;
}

@font-face {
    font-family: "LATO";
    src: url(Lato/Lato-Regular.ttf);
}

 /* body {
    background-image: url(media/background\ image\ 2.PNG);

    background-repeat: no-repeat;
    background-size: 600vh;
} */

body#css-zen-garden {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-image: url("media/background\ image\ 2.PNG"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
h1 {
    color: brown;
}

h2.summary {
    color: green
}




/* div.page-wrapper {
    background-color: rgba(199, 126, 0, 0.1);
}

section.intro {
    background-color: rgba(199, 186, 0, 0.1);
}

div.main {
    background-color: rgba(99, 199, 0, 0.1);
}

div.participation {
    background-color: rgba(0, 199, 90, 0.1);
}

footer {
    background-color: rgba(0, 192, 199, 0.1);
}

aside.sidebar   {
    background-color: rgba(0, 113, 199, 0.1);
}

div.design-selection {
    background-color: rgba(172, 76, 240, 0.1);

}

div.zen-resources {
    background-color: rgba(96, 2, 79, 0.1);
} */




a:link {
    color: rgb(43, 165, 226);
    text-decoration: none;
} 

a:hover {
    color: rgb(58, 58, 140);
    text-decoration: overline;


}

a:visited {
    color: rgb(46, 58, 186);
}